*{
    margin: 0;
    padding: 0;
}

h1{
    
    margin: 100px 0px 0px 100px;

    font-family: sans-serif;
}
h2{
    margin: 29px 0px 0px 100px;
    font-family: sans-serif;
}

input{
    margin: 10px 0px 0px 100px;
    padding: 5px;
}
#enviar{
    position: absolute;
    margin: 100px 0px 0px -120px;
}
#result{
    margin: -327px 0px 0px 385px;
    position: absolute;
    
}
#first-result{
    margin: -276px 0px 0px 434px;
    padding: 20px;
}
#second-result{
    margin: 62px 0px 0px 434px;
    padding: 20px;
}
#third-result{
    margin: 54px 0px 0px 434px;
    padding: 20px;
}
@media screen and (max-width: 600px){
    #result {
        margin: 152px 0px 0px 98px;
        position: absolute;
    }
    #first-result {
        margin: 196px 0px 0px 120px;
        padding: 20px;
    }
    #second-result {
        margin: 24px 0px 0px 123px;
        padding: 20px;
    }
    #third-result {
        margin: 26px 0px 0px 124px;
        padding: 20px;
    }
}